@tailwind base;

@tailwind components;

.counter-btn {
    @apply border-2 border-gray-500 rounded-md h-16 w-16 flex items-center justify-center shadow;
    justify-self: center;
    align-self: center;
}

.counter-btn--svg {
    @apply w-16 h-16 stroke-current text-gray-700 w-12 h-12 stroke-current text-gray-700;
}

@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
